In [1]:
import pandas as pd


df = pd.read_csv("released_dataset/train-classification.csv")

# Correct column names
df.columns = ["username", "label"]

# Lowercase label names.
df["label"] = df["label"].apply(str.lower)

# Remove any NA field.
print(f"Shape before `dropna`: {df.shape}")
df = df.dropna()
print(f"Shape after `dropna`: {df.shape}")

# Check there is no duplicate usernames.
len_unique_username = df["username"].unique().shape
print(f"Unique usernames amount: {len_unique_username}")

df.to_parquet("data/train-classification.parquet")

Shape before `dropna`: (2742, 2)
Shape after `dropna`: (2742, 2)
Unique usernames amount: (2742,)

In [2]:
df = pd.read_parquet('data/train-classification.parquet')

df

              username                 label
0        taskirancemal      mom and children
1        tam_kararinda                  food
2             spart4nn                  food
3      sosyalyiyiciler                  food
4      sonaydizdarahad      mom and children
...                ...                   ...
2737        rubisaglik  health and lifestyle
2738   safamecomercial                  tech
2739      sahrapsoysal                  food
2740  woodtechistanbul                  tech
2741     herbisiatolye  health and lifestyle

[2742 rows x 2 columns]